/*
  Modified implementation of a react knob component from:

  https://codepen.io/bbx/pen/QBKYOy

  Original Author: Daniel Subat
  MIT Licence
*/

.knob {
  display: flex;
  position: relative;
  margin-bottom: 1em;
}
.knob .ticks {
  position: absolute;
}
.knob .ticks .tick {
  position: absolute;
  background: black;
  box-shadow: inset 0 0 0 0 black;
  width: 3px;
}
.knob .ticks .tick.active {
  box-shadow: inset 0 0 5px 2px #dd7b3a, 0 0 0 1px rgb(170, 74, 10);
}
.knob.outer {
  border-radius: 50%;
  border: 1px solid #222;
  border-bottom: 4px solid #222;
  background-image: radial-gradient(100% 70%, #666 6%, #333 90%);
  box-shadow: 0 5px 10px 2px black, 0 0 1px 3px black, 0 0 0 6px #444;
}
.knob.inner {
  border-radius: 50%;
}
.knob.inner .grip {
  position: absolute;
  width: 5%;
  height: 50%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  background: #ffffff;
}
